*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}
li{
    list-style: none;
}